/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p,
a {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: #780000;
  color: #fffff0;
}
.nav nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: #fffff0;
  font-size: 2rem;
}
.nav a:hover {
  color: #a84848;
}
.mainContainer header {
  width: 100%;
  margin: 5% auto;
  background-image: url("http://via.placeholder.com/2000x300");
  background-repeat: no-repeat;
}
.mainContainer header button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mainContainer .content {
  margin: 3% auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainContainer .content div {
  width: 30%;
}
.mainContainer .services {
  flex-direction: row-reverse;
}
.container h1 {
  text-align: center;
  margin-top: 2%;
}
.container .top-half,
.container .bottom-half {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.container div {
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container div h3 {
  font-size: 3rem;
  padding: 5%;
}
.container div p {
  line-height: 25px;
}
footer {
  padding: 3% 0%;
  background: #a84848;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
footer a {
  text-decoration: none;
  color: #fffff0;
}
