.nav {
  .displayflex(space-around, center);
  align-content: center;
  background: @navBg;
  color: @textLight;
  font-family: Handlee;
  height: 64px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media @mobile{
      flex-direction: column;
  }
  img {
    .displayflex(center, center);
    width: 60px;
    @media @tablet{
      width: 40px;
    }
    @media @mobile{
        display: none;
    }
  }
  nav {
    width: 80%;
    .displayflex(space-between, center);
    @media @tablet{
      width: 30%;
    }
    @media @mobile{
        width: 50%;
    }
  }
  a {
    .aLinks();
    align-items: center;
    font-size: 3.6rem;
    font-family: Handlee;
    @media @tablet{
      font-size: 2.4rem;
    }
    @media @mobile{
        font-size: 1.4rem;
    }
  }
}
