.container{
    h1{
        text-align: center;
        margin-top: 2%; 
    }
    .top-half, .bottom-half{
        //margin: 3%;
        .displayflex(space-around, center);
        flex-direction: row;
    }
    div{
        margin: 3%;
        .displayflex(center, center);
        flex-direction: column;
        text-align: center;
        h3{
            font-size: 3rem;
            padding: 5%;
        }
        p{
            line-height: 25px;
        }
    }
}