.container{
    h1{
        text-align: center;
        margin-top: 2%; 
    }
    .top-half, .bottom-half{
        //margin: 3%;
        .displayflex(space-around, center);
        flex-direction: row;
        div{
            background: @ingContainer;
            padding: 1%;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }
    div{
        margin: 3%;
        .displayflex(center, center);
        flex-direction: column;
        text-align: center;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        
        h3{
            font-size: 3rem;
            padding: 5%;
        }
        p{
            font-size: 1.4rem;
            line-height: 25px;
        }
    }
}