//colour assignments
@buttonBg: #6E0000;
@buttonHover: #C13B3B;
@navBg: #A44B4B;
@delete: #FF4747;
@searchBar: #B59883;
@ingContainer: #FFF3DB;
@textLight: #FFFEFA;
@textDark: #2E2F38;
@borderC: #757065;

//media queries
@tablet: ~"screen and (max-width: 800px)";
@mobile: ~"screen and (max-width: 500px)";