// Color assignments 
@font-color: #303030;
@button-bg: #780000;
@main-bg:  #fffff0;
@navigation-border: #780000;
@footer-bg: #a84848;


//media queries
@tablet: ~"screen and (max-width: 767)";
@mobile: ~"(max-width: 500px)";